:root{
    --red_marvel:#ec1d24;
}

.font{
    font-family: 'Bebas Neue', cursive;
    
}
.font-body{
    font-family: 'Roboto', sans-serif !important;
}

.font-large{
    font-size: large !important;
    
}

header.masthead {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(to bottom, rgba(26, 15, 15, 0.8) 0%, rgba(255, 0, 0, 0.8) 100%), url("/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

.font-white{
    color: white !important;
}

.btn-color{
    background-color: var(--red_marvel) !important;
}

.bg-color-marvel{
    background-color: var(--red_marvel) !important;
}
.font-red-marvel{
    color: var(--red_marvel) !important;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    
}

.card {
    border: none;
}

// .nav-colored { background-color:#000; }
// .nav-transparent { background-color:transparent;}

.pt-custom{
    padding-top: 150px !important;
}

.height-card-text{
    height: 30vh;
}

.word-wrap{
    word-wrap: break-word;
}

.p-outset{
    border-style: outset;
    border-top: none;
    border-bottom: none;
    border-color: var(--red_marvel);
}